*{font-family: 'Open Sans', sans-serif;}
.metro .image-button.image-left {
  padding-right: 12px;
  padding-left: 35px;
 color:rgb(133,96,31)!important;



}
.main.fg-white.bg-drkbrown.titlePreview.xlarge.capsOn{
  background-color: rgb(191,134,40)!important;
}

.metro .image-button.image-left.bg-diviplGray.fg-divigray{

	color:#fff!important;
}

.main.fg-white.bg-drkbrown.titlePreview.xlarge.capsOn {
background-color: rgb(191,134,40)!important;
}

.metro .vmiddle {
position: relative;
top: 25%;
width: 100%;
color: #fff;
overflow:visible;

}

.metro div, .metro span, .metro p {
font-family: 'Open Sans Light';
font-weight: normal;
font-style: normal;
color: rgb(142,142,142);

}

.metro .maintitle.imageSection.extralarge{
padding-top:10px;

padding-bottom:10px;}
.metro .bookdiv.bg-divigray .vmiddle{padding-left:10px;}

.metro nav.compact .shortcut.link {
border-right:2px solid rgb(203,234,249);
text-align:center;

width:100%;

padding-left:0px;



height:75px;

text-decoration: none !important;
}
.metro nav.horizontal-menu.compact ul li {
margin-left:-4px;
}
.metro nav.horizontal-menu.compact ul li img {
text-align:center;
display:block;

width:100%;
padding-left:4px;

margin-right
}

.metro .bg-diviplblue {
background-color: #E7F4FA !important;
height: 75px;
padding-bottom: 10px!important;

}

.metro .buttonsSection.dottedLine{height:30px ;line-height:30px;}

.metro .imageSection.contentPreview{padding:10px;text-align:center;height:450px; overflow: -moz-scrollbars-vertical;
     overflow: scroll;}

.metro .imageSection.bookoverview.imageSection{padding:0px;margin-left:50px;text-align:left;line-height:50px;}
.metro .imageSection.bookoverview{padding:0px;text-align:left;line-height:50px;}

.metro .btnBkOverview.button.success.large.capsOn{margin-left:260px;}



.metro .sidebar.divi li.selected {
border-right: 5px solid rgb(203,234,249);


}
.metro .sidebar.divi li.selected :hover{
border-right: 5px solid rgb(203,234,249);
background-color:rgb(203,234,249);
color: #686868;

}

.metro .sidebar.divi li a:hover {
border-right: 0px;
color: #686868;
background-color:rgb(203,234,249);
}
.metro .sidebar.divi li.selected a:active{
border-right: 5px solid rgb(203,234,249);
background-color:rgb(203,234,249)!important;
color: #686868;

}

.metro .shortcut:active{
border-right: 5px solid rgb(203,234,249);
background-color:rgb(203,234,249)!important;
color: #686868;

}
.metro .shortcut button:active{
border-right: 5px solid rgb(203,234,249);
background-color:rgb(203,234,249)!important;
color: #686868;

}

.metro .sidebar.divi .slidedown-menu li a{background-color:tranparent;}
.metro .sidebar.divi .slidedown-menu li.selected a:hover{background-color:rgb(218,231,236);}



.metro .titleHolder{padding-left:10px;}
 .metro .previewElem .mainElem img,.previewElem .mainElem audio,.previewElem .mainElem video{
height:100%;
}

.metro ul.dropdown-menu li button.button-set{ 
height:35px;
font-size:10px;
 padding:5px;
 width:40px;
background-color:rgb(231,244,250);

}
.metro .horizontal-menu ul.dropdown-menu {
background-color:rgb(231,244,250);

overflow:hidden;
}
.metro ul.dropdown-menu [class*="icon-"]{ 
height:35px;
font-size:20px;
background-color:rgb(231,244,250);
color:#0087C4;

 }

.metro .container .titlePreview .rightsec.imageSection{
height:50px;
 padding-top:5px;
 padding-bottom: 5px;}



.metro div.previewElem{
overflow-y:auto;
text-align:left;

	border-bottom:1px dotted;
	padding: 10px;
	text-decoration: none;
    display: block;
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.metro .previewElem .carousel {
text-align:center;
	height:35%;
}

.metro div.previewElem:hover {
	border:dotted 1px;
	

	-webkit-transform: scale(1.02,1.02);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(1.02,1.02);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;
	position: relative;
	z-index: 99;
}

.metro .ui-dialog .previewImages{
	overflow-y:auto;
}


.previewElem h4,.previewElem h3{
	height:5%;
}

.previewElem .mainElem,.metro  .mainElem{
	width:62%;
	display: inline-block;
}

.metro .ui-dialog .addmore a{
	cursor:pointer;
}


.previewElem .mainElem img,.previewElem .mainElem audio,.previewElem .mainElem video,.mainElem div{
	position:relative;
	overflow-y:auto;
}


.previewElem .mainElem img,.previewElem .mainElem audio,.previewElem .mainElem video{
	width:60%;
}
.previewElem h3, .previewElem h4{color:rgb(118,98,71);}
.metro .contentElem.place-right{text-align:left;}

.metro .ui-widget-overlay.ui-front{

}

.metro div.answerDiv input[type="checkbox"]{display:inline-block;padding-bottom:20px;margin:0px;vertical-align:top;}

.metro div.answerDiv{display:inline-block;width:100%;vertical-align:top;}
.metro .ui-cancelRemove{display:inline-block;}
.metro div.editableDiv.answer{ width:45%;}



.metro .place-left .mainElem{overflow:scroll}
.metro .popup.ui-dialog-content.ui-widget-content .answerDiv.editableDiv{height:100px;}
.metro .prvw-btn-adjt{
	float: right;
	right: 9px;
}

.metro.fix-body{
	position: fixed;

}
.metro input[type="file"]{
padding-top:0px;

}

.metro input[type="file"]::-webkit-file-upload-button, button {
background-color:rgb(0,136,204);
border:0px;
color:#fff;
line-height:20px;
display:inline-block;
padding:5px;
}
.metro div.ui-dialog.ui-widget .chosen-select select{
background-color:rgb(0,136,204);

}



.metro div.ui-dialog{
padding:0px;
position:absolute;
top:10px!important;
-webkit-box-shadow: 17px 12px 125px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 12px 125px 0px rgba(0,0,0,0.75);
box-shadow: 17px 12px 125px 0px rgba(0,0,0,0.75);
}

.metro .ui-dialog .ui-dialog-content {
padding:0px;
}

.metro .popup.ui-dialog-content.ui-widget-content{
max-height:500px !important;
overflow:auto!important;
background-color:rgb(232,232,232);
}

.metro .popup.ui-dialog-content.ui-widget-content table{
background-color:rgb(232,232,232);
font-size:1.5em;
}

.metro .popup.ui-dialog-content.ui-widget-content div.formfield.larger label.labelStyle{
display:block;
width:100%;
color:rgb(88,88,88);
float:left;
font-size:1.5em;
}

.metro .popup.ui-dialog-content.ui-widget-content div.formfield.larger div.input-control input, .metro .input-control .combofield{
display:block;
width:	100%;
box-shadow: none;
background-color:rgb(232,232,232);
font-size:1.5em;
}
.metro .input-control .chosen-container{
display:block;
width:100%;
font-size:1em;
}



.metro .tab-control .frames .frame.tabs.tagging label.labelStyle{
display:inline-block;
float:left;
font-size:1.5em;

}
.metro .tab-control .frames .frame.tabs.tagging .input-control{
display:inline-block;
width:	65%;
text-align:left;
background-color:rgb(232,232,232);

}

.metro .tab-control .tabs > li.active a{

background-color:rgb(232,232,232);
border-top:1px solid rgb(88,88,88);
border-left:1px solid rgb(88,88,88);
border-right:1px solid rgb(88,88,88);
border-bottom:1px solid rgb(232,232,232);


}
.metro .tab-control .tabs > li > a{

background-color:rgb(186,186,186);
border-bottom:1px solid rgb(88,88,88);
}


.metro .popup.ui-dialog-content.ui-widget-content div.formfield div.input-control input[type='text']{
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
box-shadow: none;
background-color:#fff;
}
.metro .popup.ui-dialog-content.ui-widget-content div.formfield div.input-control{
display:block;
width:80%;
box-shadow: none;
float:left;

}
.metro .popup.ui-dialog-content.ui-widget-content .formfield.larger{
display:block;
width:100%;
}
table.tableDiv td.formContent{
display:block;
width:100%;
}


.metro .ui-dialog .ui-dialog-buttonpane{
background-color:rgb(232,232,232);
margin-top:-5px;
text-align:center;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
text-align:center;
float:none;

}

.metro .contentElem.place-right {}
.metro .previewElem .mainElem img{
height:150px;
width:auto;
}
.metro div.options a{position:fixed;bottom:317px;}
 .previewElem .mainElem audio{height:50px;}
 .previewElem .mainElem video{
 height:200px;
 }
 
  .metro .insideElem{padding-top:30px;}
 .metro .carousel{height:230px!important;background:padding-top:20px;}
.icon-plus-2 {background-color:rgb(191,134,40);}
.metro .container .homeheader{border-bottom:2px solid #e1e1e1;height:auto;opacity:0.8;}
.metro .container .homeheader .bookdiv {margin-top:20px;position:relative;height:30px;line-height:10px;}


.metro .buttonsList .pvwBtns button{margin-right:20px;}


.metro  .image_sidebar img{margin-top:0px;display:inline-block;}

.metro  .image_sidebar .icon-text{color: white;margin-top: 8px;}

.bookcontent .lftsidebar div.main.xlarge{padding-left: 10px;padding-top: 2px;}

.metro .pencil-edit{margin-left:12px;margin-bottom: 4px;}

.metro .shortcut.link:disabled, .metro .shortcut.link.disabled img{
filter: grayscale(100%);
filter: url(#greyscale);
filter: gray;
-webkit-filter: grayscale(1);

}

.metro .buttonset .bg-divibackblue :disabled{
background-color: rgb(231,244,250)!important;

}
.metro .treepreview li:before
{

display:inline-block;
list-style-image: url(/tool/assets/images/bullet.png);
}


.metro .slidedown-menu img
{

padding:4px;
filter: grayscale(100%);
filter: url(#greyscale);
filter: gray;
-webkit-filter: grayscale(1);
margin-bottom: 2px;
}



.custom_footer{width:100%;position:fixed;bottom:0px;padding:5px;height:30px;line-height:20px;display:block;color:#fff;font-size:10px;}
.custom_footer a{color:#fff;vertical-align:top;margin-left:10px;}
.custom_footer h5{display:inline-block;float:right;color:#fff;margin-top:4px;vertical-align:top;font-size:10px;}



.metro .dropdown-menu{
min-width: 117px;
}

.metro .ui-dialog-titlebar.ui-widget-header .ui-dialog-titlebar-close{
background-image:none;
width:32px;
height:32px;
background-color: rgb(207,84,83) ;
border-radius:16px;
right: 3px;
border: 2px solid white;
position:absolute;
top: 10px;
z-index:999999999;
display:none;

}
.metro .tab-control .frames {
border-top:1px solid rgb(88,88,88);
padding:0px;
}

.metro .ui-dialog-titlebar.ui-widget-header .ui-dialog-titlebar-close .ui-icon-closethick{
background-color: rgb(207,84,83) ; 
color: white ;
background-image: url("/tool/assets/images/close.png") ;
}

.metro .ui-dialog .ui-dialog-buttonset .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:nth-of-type(1){
background: none;
background-color: rgb(235, 167, 35);
border-radius: 8px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 12px;
padding-top: 0px;
font-size: 18px;
font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
line-height: 16px;
color: rgb(133, 96, 31);
}

.metro .ui-dialog .ui-dialog-buttonset .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:hover{
border: 0.5px solid #eee;
}

.metro .ui-dialog .ui-dialog-buttonset .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:nth-of-type(2){
background: none;
background-color: #adadad;
border-radius: 8px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 12px;
padding-top: 0px;
font-size: 18px;
font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
line-height: 16px;
color: #333;
}

.metro .ui-dialog .ui-dialog-buttonset .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:nth-of-type(2) .ui-button-text{color: #333;font-size: 18px;}
.metro .ui-dialog .ui-dialog-buttonset .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:nth-of-type(1) .ui-button-text{color: rgb(133,96,31)!important;font-size: 18px;}

.metro .ui-dialog .ui-dialog-buttonset .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only img{float:left;}
.metro .ui-dialog .ui-dialog-buttonset .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only .ui-button-text{float:left;}

.metro .popup.ui-dialog-content.ui-widget-content .formfield.larger{
margin-bottom: 16px;
}

.metro .chosen-search input{
padding:10px !important;
}

.toolbarCls{background-color:#fff;}
.richtext_icons{
display:block;
height:14px;
padding:0px;

}
.rich_button {
padding:10px!important;
margin-right:2px;

}
a.rich_button.btn-info {

 -webkit-filter: invert(0%)!important;
}
.rich_button img
{
 -webkit-filter: invert(80%)!important;
}
.metro .ui-dialog-title{
color:white;
}