
body {
	margin: 0 auto;
	background-color: #ffffff;
	height:100%;
	width:100%;
	font-size: 14px;
	color:#5E5A55;
}

span{
	display:inline-block;
}

div.preview.question{
	font-weight:bold;
	font-size: 15px;
}

div.preview.question div{
	display:inline;
}


.maincontainer{
	margin:auto;
	width:99%;
	border-left:solid 2px gray;
	border-right:solid 2px gray;
}

.homeheader {
	background-image:url("./../../assets/images/header.png");
	background-repeat:repeat-x;
	height: 10%;
}
.buttonsSection{
	height: 5%;
}

.titles{
	padding-top:1%;
	vertical-align: middle;
}

.titles label{
	font-weight: bold;
	font-size: 15px;
}
.homeheader div{
	width:17%;
	vertical-align:top;
	display:inline-block;
}

.homeheader div.titles.bookname{
	width:45%;
	vertical-align:middle;
}

div.topborder{
	height:2%;
	width:100%;
}
div.bookdiv{
	width: 30%;
	height: 50%;
	position: relative;
	top: 30%;
}
.bookcontent{
	height:73%;
	vertical-align:top;
}

.bgGray{
	background-color:#DfDfDf;
}

.bgBlack{
	background-color:#5E5A55;
	color:#ffffff;
}

.capsOn{
	text-transform:uppercase;
}

.imageSection{
	padding-left:7%;
}

.imageSection button{
	margin:0 25px;
}

.titlePreview{
	height:6.5%;
}
.buttonsList{
	height:13%;
}

div.buttonsList nav{
	width:56%;
	float: left;	
}

div.buttonsList .pvwBtns{
	width:44%;
	float:right;
	top: 15%;
	position: relative;	
}

.contentPreview{
	height:95%;
	overflow-y:auto; 
}

.metro nav.horizontal-menu ul li{
	margin:0px;
}
.metro nav.horizontal-menu ul li a{
	padding:0px;
}
.metro nav.horizontal-menu.compact ul li{
	margin:0px;
}

.metro div.previewElem{
	height:35%;
	border-bottom:1px dotted;
	padding: 10px;
	text-decoration: none;
    display: block;
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.metro .previewElem .carousel {
	height:35%;
}

.metro div.previewElem:hover {
	border:dotted 1px;
	background:#bebebe !important;
	opacity: .7;
	-webkit-transform: scale(1.02,1.02);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(1.02,1.02);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;
	position: relative;
	z-index: 99;
}

.metro .ui-dialog .previewImages{
	overflow-y:auto; 
}


.previewElem h4,.previewElem h3{
	height:5%;
}

.previewElem .mainElem,.metro  .mainElem{
	width:62%;
	display: inline-block;
}

.metro .ui-dialog .addmore a{
	cursor:pointer;
}


.previewElem .mainElem img,.previewElem .mainElem audio,.previewElem .mainElem video,.mainElem div{
	position:relative;
	height:100%;
	overflow-y:auto;
}


.previewElem .mainElem img,.previewElem .mainElem audio,.previewElem .mainElem video{
	width:60%;
}

.previewElem .mainElem video{
	webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
	object-fit: contain;
	display: inline-block;
	width: 80%;
	height:90%;
}



.metro .previewElem .contentElem,.metro .contentElem{
	position:relative;
	width:37%;
	height: 30%;
	display: inline-block;
}


.editContent{
	width:90%;
	float:left;
}
.rearrange{
	width:10%;
	float:right;
}

.dottedLine{
	border-bottom:dotted 1px;
}

.txBold{
	font-weight: bold;
}

div.answerDiv textarea.answer{
	width: 96%;
}

.bookContent div.inline{
	display: inline-block;
	
}
.leftsec{
	width:21%;
	float: left;
}

.bookcontent .lftsidebar .xlarge i{
	padding-left:19px;
}

.bookcontent .lftsidebar div.main{
	width:100%;
	margin:1px 0px;
}
.bookcontent .lftsidebar div.main.xlarge{
	height:9%;
	cursor: pointer;
}
.bookcontent .lftsidebar div.main.clickable:hover{
	background-color: #00aff0 !important;
}

.rightsec{
	width:78.5%;
	float:right;
}

.bookcontent ul.addButtons{
	list-style:none;
	vertical-align: middle;
}

.bookcontent ul.addButtons li{
	display: inline;
	margin:0px 20px;
}


.metro .hidden{
	display:none;
}

.metro .thirddiv .chosen-container{
	width:0px;
	min-width:80%;
	min-height: 20px;
	text-align: left;
}

.metro .tab-control .frames .frame.tabs.tagging{
	min-height:300px;
}

.metro .tab-control .frames .frame.tabs.tagging label{
	font-size:13px;
}

.metro .tab-control .frames .frame.tabs.tagging div.thirddiv,.metro .tab-control .frames .frame.tabs.tagging div.seconddiv,.metro .tab-control .frames .frame.tabs.tagging div.firstdiv{
	height:70px;
}

.input-control .chosen-container{
	width:0px;
	min-width:300px;
	min-height: 30px;
	text-align: left;
}
.input-control .chosen-results{
	font-size: 13px;
}
.input-control .combofield{
	min-width: 180px;
	margin-right: 30px;
}
.input-control div.form_combovalue{
	text-align: left;
	color:black;
}
.input-control div.form_combovalue.combo_value{
	min-height: 30px;
	color:#545454;
}
.input-control .chosen-container-single .chosen-single{
	color:black;
}
.input-control .chosen-container-single .chosen-drop{
	margin-top: -7px;
}

.metro div.formfield div.filepreview{
	height:150px;
	border: dotted 1px;
}

.metro div.formfield div.uploadBtn{
		width:60px;
		
}

.metro div.formfield div.input-control .chosen-search input{
	width: auto;  
}

table.tableDiv td.formContent{
	padding:10px;
	text-align:center;
}

table.tableDiv tr.buttonsDiv div.formfield{
	width:50%;
	display: inline;
}



form.ad3iForm .hidden,div.formfield .hidden
,div.hidden,table.tableDiv .hidden
,div.formbuttons .hidden,table.tableDiv tr.buttonsDiv div.formfield.hidden
,.metro div.formfield.hidden{
	display:none;
}

form div.formfield{
	vertical-align:middle;
}

.metro .input-control.text input.error{
	border-color:red;
}

.metro div.formfield input{
	border-color: none;
}

.metro div.formfield{
	margin: 2px 20px 0px 2px; 
	font-size:12px;
	float:left;
	display: inline;
}


.metro div.formfield div.input-control{
	margin-left:10px;
	float:right;
	display:inline;
}

.metro div.formfield div.checkbox{
	float:right;
}

.metro div.formfield div.input-control input{
	width:180px;
	margin-right:30px;
}
.metro div.formfield.larger div.input-control input{           
	width:260px;
	margin-right:30px;
	border-radius: 4px;
}
.metro div.formfield.larger div.input-control.text .btn-clear{
	margin-right: 5px;
}
.metro .hosreqform div.formfield.larger div.input-control input,
.metro .docreqform div.formfield.larger div.input-control input{       
	width:260px;
	margin-right:0px;
	padding: 8px;
}
.metro .input-control.text input.readonly,
.metro .input-control.text textarea.readonly{
	background-color:white;
	pointer-events:none;
	box-shadow: none;
	border:none;
}

.metro .colapse_icon{
	float: right;
	font-weight: bold;
	cursor: pointer;
	margin-top: 5px;
}



.metro button.imgButton{
	padding: 2px;
	margin-left:10px;
	text-align: center;
	vertical-align: middle !important;
	background-color: #d9d9d9;
	border: 1px transparent solid;
	color: #222222;
	border-radius: 0;
	cursor: pointer;
	display: inline;
	outbtline: none;
}

img.toggle{
	content:url("../images/edit.png");
	height: 18px;
}

.metro div.formfield label.labelStyle{
	width:110px;
	text-align:left;
	display:inline-block;
	text-transform:none;
}


.metro div.formfield.larger label.labelStyle{
	width:255px;
	font-size: 13px;
}

.metro div.formfield div.input-control{
	margin-left:10px;
	float:right;
	display:inline;
	width: auto;
}

.metro div.formfield div.checkbox{
	float:right;
}

.metro div.formfield div.input-control input{
	width:180px;
	margin-right:30px;
	box-shadow: 5px 5px 10px #AAB3C2;
}
.metro div.formfield.larger div.input-control input{           
	width:300px;
	margin-right:30px;
}
.metro div.formfield.larger div.input-control.text .btn-clear{
	margin-right: 5px;
}

.metro div.formfield.larger div.input-control input,.metro .input-control .combofield{
	width: 300px;
	margin-right: 0px;
}

.metro .ad3iForm .chosen-container{
	padding:7px 0px 6px 0px;

}

.metro .input-control .chosen-container-single .chosen-drop{
	margin-top: -7px;
}


.metro .input-control .chosen-container-single .chosen-single{
	color:black;
}

metro .chosen-single{
	-moz-box-sizing: content-box;
}

.metro div.popup{
	/* position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%; */
   /* background: #000;
     display: none; */
}

.metro .popupheader{
	height:30px;	
}

.metro .div .popupContent {
	width: 100%;
	padding: 30px;
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

.metro .ui-dialog .disabletoolbar{
	z-index: 100000;
	background: transparent;
	width: 100%;
	height: 30px;
	position: absolute;
}

.metro div.popupheader span.close{
	float:right;
}

.metro span.labelStyle{
	font-weight: bold;
}

span.lblValue{
	margin:0px 5px;
}

.metro div.formfield{
	width:85%;
}

.metro div.matchDiv{
	width: 100%;
}

.metro div.editableDiv.question.matchthefol{
	height:50px;
}
.metro div.matchedMain{
	width:100%;
}
.metro div.matchedAns{
	width:50%;
}

.metro div.matchedAns.place-left{
	border-right: dotted 1px;
}

div.matchDiv .editableDiv.answer {
	width: 47%;
	margin-bottom: 8px;
	height:50px;
}

div.editableDiv{
	height: 450px;
	background-color: white;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
	padding: 4px; 
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: auto;
	outline: none;
}


div.editableDiv.question{
	height: 100px;
}

div.answerDiv{
	margin-bottom:5px;
}


div.answerDiv input{
	display:inline-block;
	width: 20px;
	height: 20px;
	margin-top: -20px;
}

.metro div.answerDiv input[type="checkbox"]{
	width: 20px;
	height: 20px;
	margin-top: -20px;
}

.metro div.answerDiv input[type="radio"]{
	margin:5px;
}


div.answerDiv div{
	display:inline-block;
	margin-left:10px;
}

.metro div.options a{
 	cursor:pointer;
 }

.metro div.options a.disabled{
 	color: #222222;
 	cursor:auto;
 }
 
.metro div.options a.disabled:hover{
 	color: #222222;
 	cursor:auto;
 }

div.editableDiv.answer {
	height: 60px;
	width:90%;
}

.metro div.ui-dialog{
	position: absolute;
	display: block;
	height: auto;
	top: 2%;
	left: 50%;
}

.formulaUploadBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.4;
    z-index: 9998;
}
.formulaUploadContainer {
	position: relative;
	height: 80%;
	width: 100%;
	opacity: 1;
	background: #FFFFFF;
	text-align: center;
	overflow: auto;
}
.formulaUploadContainerInner {
    height: 100%;
    width: 100%;		
	text-align:center;
}

.formulaTextContainer{
	float:left; 
}

.previewCon{
 float:right; 
 border-left:1px solid #DDDDDD;
 height:280px;
}

.stcontainer{
	margin:10px;
	width: 45%;
    overflow-y:auto;
}


.textareacontainer{
	width: 85%;
	overflow-y:auto;
	height:260px;
}

.toolbarContainer{
	height: 40%;
}

.formulaUploadConfirmCase {
    position: absolute;
    bottom: 0;
    height: 40px;
    text-align: right;
    width: 97%;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-right: 20px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.toolbarContainer{
   border-bottom:solid 2px black;
   height:150px;
}

.prContainerHeader{
   height: 35px;
   width: 97%;
}

.formulaUploadContainer .formulaUploadFormContainer {
    margin-top: 20px;
}
.formulaUploadContainer .formulaUploadError {
    line-height: 30px;
    text-align: center;
    color: #CF111D;
}

.formulaUploadFgLoading {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 19px;
    width: 220px;
    margin-top: -10px;
    margin-left: -110px;
    z-index: 10001;
    background-color: transparent;
}

.metro .window .caption .title h3{
	display:inline;
}

.metro .matchDiv .ui-cancelRemove{
	position: relative;
	padding: 1px;
	float: right;
	height:auto;
	margin: 0 0 0 0 ;
	height:auto;
}

.metro .ui-cancelRemove{
	position: absolute;
	right: .3em;
	top: 15%;
	width: 20px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px;
}

.metro .previewElem .prevBtns{
	position: absolute;
	right: .3em;
	top: 1%;
	padding: 1px;
	height: 20px;
	
}

.metro div.previewElem .prevBtns button{
	border:0px;
	opacity: 1;
	z-index: 150;
}


.metro div.previewElem .prevBtns button:hover{
	border:solid 1px;
}


.metro div.previewElem .prevBtns button{
	margin:0 2px;
}

.metro .ui-dialog .ui-dialog-buttonpane{
	padding:0px;
}
.metro .ui-dialog-buttonset button{
	padding: 0px 5px;
} 

.metro nav.compact .shortcut {
  font-size: 14px;
  font-family:'Open Sans Light';
  padding: 2px 5px;
}


.metro nav.compact .shortcut.link {
  border-right: 1px #2e92cf solid;
  border-left: 0px;
  border-bottom: 0px;
  border-top: 0px;
  text-decoration: none !important;
}
.metro nav.compact .shortcut.link:hover {
   border-bottom-width: 2px;
}

.metro nav.compact ul{
	margin:0px;
	padding-left:0px;
}


.metro .sidebar.divi li.selected  a {
  background-color: #E7F4FA ;
}
.metro .sidebar.divi li.selected{
  border-right: 1px solid #E7F4FA ;
}

.metro .sidebar.divi li.selected  ul {
  background-color: #E7F4FA ;
}

.metro .sidebar.divi {
  background-color: #F3F3F3;
  border: 1px #eaeaea solid;
}
.metro .sidebar.divi li{
  border-right:0px;
  color:#686868;
}

.metro .sidebar.divi li.active {
   background-color: #E7F4FA;
}
.metro .sidebar.divi li.title {
  color: #686868;
}
.metro .sidebar.divi li a {
  color: #686868;
  background-color: #F3F3F3;
}

.metro .sidebar.divi > ul li a{
	padding: 5px 20px;
	min-height:5.5%;
}

.metro .sidebar.divi li.stick a{
  text-transform: uppercase;
}

.metro .sidebar.divi .slidedown-menu li a{
  text-transform: none;
  padding: 4px 32px !important;
  font-size: 12px !important;
  line-height: 13pt !important;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.25999999046325684px
}


.metro .sidebar.divi li a:hover {
  background-color: #00aff0;
}
.metro .sidebar.divi li ul {
  background-color: #F3F3F3;
  border: 1px transparent solid;
}
.metro .sidebar.divi li .divider {
  background-color: #eeeeee;
}
.metro .sidebar.divi li .divider:hover {
  background-color: #eeeeee;
}
.metro .sidebar.divi li.disabled a {
  background-color: #ffffff;
  cursor: default;
  color: #999999;
}
.metro .sidebar.divi li.active a {
  background-color: #1ba1e2;
  color: #686868;
}

.metro div.formfield.points{
	width: 18%;
}

.metro div.formfield.points label.labelStyle {
	width: 46px;
}

.metro div.formfield.points .input-control.text .btn-clear{
	right:0px;
	left:30px;
}

.metro .previewElem .carousel{
	margin-top:2%;
}

.metro div.formfield.points div.input-control input {
	width: 50px;
}

.metro .tab-control .frames .firstdiv div{
	display:inline-block;
	vertical-align: top;
}

.metro .tab-control .frames .firstdiv div.elemDom{
	width: 30%;
}

.metro .ui-dialog blockquote,.metro .bookcontent blockquote {
  margin: 0 0 0 40px;
  padding: 0;
  border-left: 0;
  padding-left: 10px;
}

.metro div.bloomsdiv label{
	margin-right:30px;
}

.modal_close { position: absolute; top: 12px; right: 12px; display: block; width: 14px; height: 14px; background: url(../img/modal_close.png); z-index: 2; }